body {
    color: #000654;
}

h2 {
    color: #000654;
}

.navbar-light .navbar-nav .nav-link {
    color: #0157ae;
}

em {
    color: #0157ae;
}

.bill-title {
    color: #0157ae;

}

label {
    color: #000654;
}

.form-control .form-control-lg {
    color: #000654;
}