{% extends 'base.html' %}
{% block content %}
<div class="container">
    <br><br>
    <h2><strong><a class="bill-title" href="{{ bill.bill_uri }}">{{ bill.bill_title }}</a></strong></h2>
    <br>
</div>

<div class="container">
    <h3><strong>Bill Id:</strong> {{ bill.bill_id }}</h3>
    <br>

    {% if bill.senate_roll_call %}
        <p><strong>Senate Roll Call:</strong> {{ bill.senate_roll_call }}</p>
    {% endif %}

    {% if bill.house_roll_call %}
        <p><strong>House Roll Call:</strong> {{ bill.house_roll_call }}</p>
    {% endif %}

    {% if bill.summary != None %}
        <br>
        <button type="button" class="btn btn-light" data-toggle="collapse" data-target="#demo">Summary</button>
        <div id="demo" class="collapse">
            <br>
            <em>{{ bill.summary }}</em>
        </div><br><br>
    {% endif %}

    {% if user %}
        <h2>Your Members of Congress Voted...</h2>
        <br>
        {% for member in representatives %}
            <p><strong>{{ member.title }} {{ member.name }}:</strong> {{ member.get_vote_from_roll_call(bill) }}</p>
        {% endfor %}
    {% endif %}
</div>



{% endblock %}
