{% extends 'base.html' %}
{% block content %}
<div class="container">

    <h1><a href="{{ bill.bill_uri }}">{{ bill.bill_title }}</a></h1>
    <h3><strong>Bill Id:</strong> {{ bill.bill_id }}</h3>

    {% if bill.senate_roll_call %}
        <p><strong>Senate Roll Call:</strong> {{ bill.senate_roll_call }}</p>
    {% endif %}

    {% if bill.house_roll_call %}
        <p><strong>House Roll Call:</strong> {{ bill.house_roll_call }}</p>
    {% endif %}

    {% if bill.summary != None %}
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Summary</button>
        <div id="demo" class="collapse">
            {{ bill.summary }}
        </div>
    {% endif %}

    {% if user %}
        <h2>Your Members of Congress Voted...</h2>
        {% for member in representatives %}
            <p><strong>{{ member.title }} {{ member.name }}:</strong> {{ member.get_vote_from_roll_call(bill) }}</p>
        {% endfor %}
    {% endif %}
</div>



{% endblock %}
