{% extends 'base.html' %}
{% block content %}

<h2>{{ bill.bill_title }}</h2>
    <p>Bill Id: {{ bill.bill_id }}</p>
    <p>URI: <a href="{{ bill.bill_uri }}">{{ bill.bill_uri }}</a></p>
    {% if bill.senate_roll_call %}
        <p>Senate Roll Call: {{ bill.senate_roll_call }}</p>
    {% endif %}
    {% if bill.house_roll_call %}
        <p>House Roll Call: {{ bill.house_roll_call }}</p>
    {% endif %}
    <p>Summary: {{ bill.summary }}</p>
    {% if user %}
        <h2>Your Members of Congress Voted...</h2>
        {% for member in user.find_representatives() %}
            <p>Title: {{ member.title }}</p>
            <p>Name: {{ member.name }}</p>
            <p>Vote: {{ member.get_vote_from_roll_call(bill) }}</p>
        {% endfor %}
    {% endif %}

{% endblock %}

