{% extends 'base.html' %}
{% block content %}
<div class="container">
    <br><br>
    <h2><strong>Bill Categories</strong></h2><br>

    {% if session["user_id"] is defined %}
    <form action="/add-categories" method="POST">
        <ul class="list-group">
            {% for category in categories %}
            <li class="d-flex list-group-item">
                <div class="mr-auto">
                    <a href="/categories/{{ category.category_id }}">{{ category.name }}</a>
                </div>
                <div class="ml-auto">
                    <input type="checkbox" id="{{ category.category_id }}" name="categories"
                           value="{{ category.category_id }}">
                </div>
            </li>
            {% endfor %}
        </ul>
        <br>
        <input type="submit" name="submit" value="Add Categories">

    </form>
    {% else %}
    {% for category in categories %}
            <li class="d-flex list-group-item">
                <div class="mr-auto">
                    <a href="/categories/{{ category.category_id }}">{{ category.name }}</a>
                </div>
            </li>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}