{% extends 'base.html' %}
{% block content %}
<style>
    .card-column {
        flex: 1 1 0;
    }
</style>
<br><br>
<div class="container d-flex">
        <div class="mr-auto">
            <h2><strong>Current Congresspeople</strong></h2><br>
        </div>
        <div class="ml-auto">
            <input id="search-congress" class="typeahead form-control" type="text" placeholder="Search Congress">
        </div>
</div>

<div class="container">
    <h2>Senate</h2><br>
    {% for senator in senators %}
        <div class="accordion" id="accordion1">
          <div class="card">
            <div class="card-header" id="heading{{ senator.name }}">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed"
                        type="button" data-toggle="collapse"
                        data-target="#{{ senator.congress_id }}"
                        aria-expanded="false"
                        aria-controls="collapseTwo">
                    <em>{{ senator.title }} {{ senator.name }} {{ senator.party }}</em>
                </button>
              </h5>
            </div>
            <div id="{{ senator.congress_id }}"
                 class="collapse"
                 aria-labelledby="heading{{ senator.name }}"
                 data-parent="#accordion1">
                <div class="card-body d-flex">
                    <div class="mr-auto card-column">
                        <strong><p>Next Election in {{ senator.get_election_year() }}</p></strong>
                        <strong><p>Contact Info</p></strong>
                        <li><i class="fa fa-phone"></i>: {{ senator.phone }}</li>
                        {% if senator.facebook %}
                        <li><i class="fa fa-facebook"></i>: <a href="https://www.facebook.com/{{ senator.facebook }}"><em>{{
                            senator.facebook }}</em></a></li>
                        {% endif %}

                        {% if senator.twitter %}
                        <li><i class="fa fa-twitter"></i>: <a href="https://twitter.com/{{ senator.twitter }}"><em>{{
                            senator.twitter }}</em></a></li>
                        {% endif %}

                        {% if senator.youtube %}
                        <li><i class="fa fa-youtube"></i>: <a href="https://www.youtube.com/user/{{ senator.youtube }}"><em>{{
                            senator.youtube }}</em></a></li>
                        {% endif %}
                    </div>
                    <div class="card-column">
                        <canvas id="graph{{ senator.votes_with_party_pct }}"></canvas>
                    </div>
                </div>
            </div>
          </div>
        </div>
    {% endfor %}
</div>
    <br><br>
    <hr>
    <br>

<div class="container">
<h2>House</h2><br>
{% for rep in representatives %}
    <div class="accordion" id="accordion2">
      <div class="card">
        <div class="card-header" id="heading{{ rep.name }}">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed"
                    type="button" data-toggle="collapse"
                    data-target="#{{ rep.congress_id }}"
                    aria-expanded="false"
                    aria-controls="collapseTwo">
                <em>{{ rep.title }} {{ rep.name }} {{ rep.party }}</em>
            </button>
          </h5>
        </div>
        <div id="{{ rep.congress_id }}"
             class="collapse"
             aria-labelledby="heading{{ rep.name }}"
             data-parent="#accordion2">
            <div class="card-body d-flex">
                <div class="mr-auto card-column">
                  <strong><p>Next Election in {{ rep.get_election_year() }}</p></strong>
                  <strong><p>Contact Info</p></strong>
                  <ul>
                      <li><i class="fa fa-phone"></i>:{{ rep.phone }}</li>
                      {% if rep.facebook %}
                      <li><i class="fa fa-facebook"></i>: <a href="https://www.facebook.com/{{ rep.facebook }}"><em>{{ rep.facebook }}</em></a></li>
                      {% endif %}

                      {% if rep.twitter %}
                      <li><i class="fa fa-twitter"></i>: <a href="https://twitter.com/{{ rep.twitter }}"><em>{{ rep.twitter }}</em></a></li>
                      {% endif %}

                      {% if rep.youtube %}
                      <li><i class="fa fa-youtube"></i>: <a href="https://www.youtube.com/user/{{ rep.youtube }}"><em>{{ rep.youtube }}</em></a></li>
                      {% endif %}
                  </ul>
                </div>
                <div class="card-column">
                    <canvas id="graph{{ rep.votes_with_party_pct}}"></canvas>
                </div>
          </div>
        </div>
      </div>
    </div>
{% endfor %}
</div>

<script>
var substringMatcher = function(strs) {
  return function findMatches(q, cb) {
    var matches, substringRegex;

    // an array that will be populated with substring matches
    matches = [];

    // regex used to determine if a string contains the substring `q`
    substrRegex = new RegExp(q, 'i');

    // iterate through the pool of strings and for any string that
    // contains the substring `q`, add it to the `matches` array
    $.each(strs, function(i, str) {
      if (substrRegex.test(str)) {
        matches.push(str);
      }
    });

    cb(matches);
  };
};

const congressNames = {{ congress_names|safe }};

$('#search-congress').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
},
{
  name: 'congressNames',
  source: substringMatcher(congressNames)
});

$('.typeahead').bind('typeahead:select', function(ev, suggestion) {
    console.log(suggestion);
    document.getElementById("heading" + suggestion).scrollIntoView();
});


var votePercentages = {{ vote_percents | safe }};

var donutOptions = {
  cutoutPercentage: 0,
  legend: {position:'bottom',
       labels:{pointStyle:'circle',
       usePointStyle:true}
  }
};

for (pct of votePercentages) {

    var currentId = "graph" + pct;
    var ctx = document.getElementById(currentId);
    var chDonutData1 = {
        labels: ['Votes With Party', 'Votes Against Party'],
        datasets: [
          {
            backgroundColor: ["#0157ae", "#d42729"],
            borderWidth: 0,
            data: [pct, (100 - pct)]
          }
        ]
    };

    var chDonut1 = document.getElementById(currentId);
    if (chDonut1) {
      new Chart(chDonut1, {
          type: 'pie',
          data: chDonutData1,
          options: donutOptions
      });
    }

}

</script>

{% endblock %}