{% extends 'base.html' %}
{% block content %}
<div class="container">
    <br><br>
    <div class="jumbotron transbox">
            <h1 class="display-4 brand"><center>Welcome to the Voter Information Project</center></h1>

            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

            <p class="lead">The Voter Information Project or V.I.P. is a tool intended to provide a user with non-partisan data about their federal congresspeople, recent bills authored, and how those bills were voted on. The V.I.P.  gives non-judgmental information, and does not tell the user how to vote. By providing purely factual information, the user is trusted to determine their opinion about the bill without having to worry about unfair biases. The site provides contact information for their congresspeople to encourage democratic participation.
The hope for this project is so every person can be able to make well informed decisions about the people they vote for, as well gain awareness about the laws being addressed by Congress.</p>
        </div>
    </div>

</div>



{% endblock %}