{% extends 'base.html' %}
{% block content %}

<div class="container">
    <br><br>
    <h2><strong>Log In</strong></h2><br>

    <form action="/login" method="POST">
        <div class="form-group">
            <label for="username">Username</label><br>
            <input type="text" class="form-control form-control-lg" name="username" id="username"><br>

            <label for="password">Password</label><br>
            <input type="password" class="form-control form-control-lg" name="password" id="password" value="password-input"><br><br>

            <input type="submit" class="form-control form-control-lg" name="submit" value="Log In"><br>
        </div>
    </form>
</div>

{% endblock %}

