{% extends 'base.html' %}
{% block content %}


<div class="container">
    <br><br>
    <h2><strong>Your Profile</strong></h2><br>
    <h3>These People Represent You</h3><br>

    {% for rep in representatives %}
    <div class="accordion" id="accordion1">
      <div class="card">
        <div class="card-header" id="heading{{ rep.congress_id }}">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed"
                    type="button" data-toggle="collapse"
                    data-target="#{{ rep.congress_id }}"
                    aria-expanded="false"
                    aria-controls="collapseTwo">
                {{ rep.title }} {{ rep.name }} {{ rep.party }}
            </button>
          </h5>
        </div>
        <div id="{{ rep.congress_id }}"
             class="collapse"
             aria-labelledby="heading{{ rep.congress_id }}"
             data-parent="#accordion1">
          <div class="card-body">
              <strong><p>Next Election in {{ rep.get_election_year() }}</p></strong>
              <strong><p>Contact Info</p></strong>
              <ul>
                  <li><i class="fa fa-phone"></i>: {{ rep.phone }}</li>
                  {% if rep.facebook %}
                  <li><i class="fa fa-facebook"></i>: <a href="https://www.facebook.com/{{ rep.facebook }}">{{ rep.facebook }}</a></li>
                  {% endif %}

                  {% if rep.twitter %}
                  <li><i class="fa fa-twitter"></i>: <a href="https://twitter.com/{{ rep.twitter }}">{{ rep.twitter }}</a></li>
                  {% endif %}

                  {% if rep.youtube %}
                  <li><i class="fa fa-youtube"></i>: <a href="https://www.youtube.com/user/{{ rep.youtube }}">{{ rep.youtube }}</a></li>
                  {% endif %}

              </ul>
          </div>
        </div>
      </div>
    </div>
{% endfor %}
</div>
    <br><br>
    <hr>

{% endblock %}

