{% extends 'base.html' %}
{% block content %}
<div class="container">
        <br><br>
        <h2><strong>Your Watched Categories</strong></h2><br>
        <form action="/remove-categories" method="POST">
            <ul class="list-group">
            {% for category in categories %}
                <li class="d-flex list-group-item">
                    <div class="mr-auto">
                        <a href="/categories/{{ category.category_id }}"><em>{{ category.name }}</em></a>
                    </div>
                    <div class="ml-auto">
                        <input type="checkbox" id="{{ category.category_id }}" name="categories"
                               value="{{ category.category_id }}">
                    </div>
                </li>
            {% endfor %}
            </ul>
            <br>
            <input type="submit" name="submit" value="Remove Categories">
        </form>
</div>
{% endblock %}


<!--<div class="list-group">-->
  <!--<a href="#" class="list-group-item list-group-item-action active">-->
    <!--Cras justo odio-->
  <!--</a>-->
  <!--<a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>-->
  <!--<a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>-->
  <!--<a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>-->
  <!--<a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>-->
<!--</div>-->
